@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: hsla(186, 18%, 83%, 1);
  background-image: radial-gradient(
      at 66% 36%,
      hsla(169, 52%, 75%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 20% 30%, hsla(345, 52%, 79%, 1) 0px, transparent 50%),
    radial-gradient(at 35% 86%, hsla(47, 52%, 64%, 1) 0px, transparent 50%);
}

.glass {
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.3);
}

.bg15 {
  background-color: rgba(255, 255, 255, 0.15);
}

.bg2 {
  background-color: rgba(255, 255, 255, 0.2);
}
